<table class="table-bordered table">
  <tr>
    <th>Code</th>
    <th>Exception</th>
    <th>Short Description</th>
    <th>Long Description</th>
  </tr>

<% @ftcs.each do |ftc| %>
<tr>
  <td><%= ftc.code %></td>
  <td><%= ftc.exception %></td>
  <td><%= ftc.shortdesc %></td>
  <td><%= ftc.longdesc %></td>
</tr>
<% end %>
</table>