<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title></title>
	<meta name="generator" content="LibreOffice 4.2.8.2 (Linux)">
	<meta name="created" content="20150926;12426639054247">
	<meta name="changed" content="0;0">
	
	<style type="text/css"><!-- 
		body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Liberation Sans"; font-size:x-small }
		 -->

	</style>
	
</head>

<body text="#000000">
<table cellspacing="0" border="0">
	<colgroup span="2" width="85"></colgroup>
	<tr>
	<th> Code </th>
	<th> Exception </th>
	<th> Short Desc. </th>
	<th> Long Desc. </th>
</tr>

<% @myCodes.each do |mc| %>
<tr>
	<td> <%= mc.code %> </td>
	<td> <%= mc.exception %></td>
	<td> <%= mc.shortdesc %></td>
	<td> <%= mc.longdesc %></td>
</tr>

<% end %>
	
</table>
<!-- ************************************************************************** -->
</body>

</html>
